Name: Smoke Screen Snare (Greater)
Nombre: Trampa de humo (mayor)
Estado: auto-trad

------ Description (en) ------
<p>You create a snare that releases a dense cloud of smoke when a creature enters the square, filling a specified area. All creatures within that area are @UUID[Compendium.pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed}, and all other creatures are concealed to them. The smoke lasts for 1 minute or until dispersed by a strong wind.</p>
<p>The smoke fills a @Template[type:burst|distance:20] centered on the snare's square.</p>
<hr />
<p><strong>Craft Requirements</strong> Supply a @UUID[Compendium.pf2e.equipment-srd.ehss8yPTXxiUdVlJ]{Greater Smokestick}.</p>
------ Description (es) ------
<p>Elaboras un lazo que libera una densa nube de humo cuando una criatura entra en la casilla, llenando un área especificada. Todas las criaturas dentro de esa área quedan @UUID[Compendium.pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed}#, y todas las demás criaturas quedan ocultas para ellas. El humo dura 1 minuto o hasta que lo dispersa un viento fuerte.</p> <p>
<p>El humo llena un @Template[type:burst|distance:20]## centrado en el cuadrado de la trampa.</p> <p>
<hr />
<p><strong>Requisitos de Artesanía</strong> Suministrar un @UUID[Compendium.pf2e.equipment-srd.ehss8yPTXxiUdVlJ]{{Ahumadera mayor}#.</p> <p>.
