Name: Oozepick (Greater)
Nombre: Oozepick (Mayor)
Estado: auto-trad

------ Description (en) ------
<p><strong>Activate</strong> <span class="pf2-icon">1</span> Interact</p>
<p>You can pour this silver ooze into a lock or similar mechanism to create a set of malleable lockpicks and tools that conform to internal mechanisms. The ooze is treated as a set of thieves' tools that last for 8 hours and provide a +3 item bonus to Thievery checks to @UUID[Compendium.pf2e.actionspf2e.2EE4aF4SZpYf0R6H]{Pick a Lock} or @UUID[Compendium.pf2e.actionspf2e.cYdz2grcOcRt4jk6]{Disable Device} against the mechanism into which they were first poured.</p>
------ Description (es) ------
<p><strong>Activar</strong> <span class="pf2-icon">1</span> Interactuar</p>
<p>Puedes verter este rezume de plata en una cerradura o mecanismo similar para elaborar un conjunto de ganzúas y herramientas maleables que se ajustan a los mecanismos internos. El rezume se trata como un conjunto de herramientas de ladrón que duran 8 horas y proporcionan un bonificador +3 de objeto a los chequeos de Latrocinio para @UUID[Compendium.pf2e.actionspf2e.2EE4aF4SZpYf0R6H]{Forzar una cerradura} o @UUID[Compendium.pf2e.actionspf2e.cYdz2grcOcRt4jk6]{{Inutilizar un mecanismo} contra el mecanismo en el que se vertieron por primera vez.</p> <p>
