Name: Awakened Silver Shot
Nombre: Awakened Silver Shot
Estado: auto-trad

------ Description (en) ------
<p><strong>Ammunition</strong> round</p>
<p><strong>Activate</strong> <span class="pf2-icon">1</span> Interact</p>
<p>These bullets are formed from a liquefied high-grade precious metal and enchanted to unlock that metal's true potential.</p>
<p>The shot is a high-grade silver bullet. The awakened silver gleams with altered celestial moonlight designed to weaken and expose devils and werecreatures. On a hit, it attempts to counteract any polymorph effect on the target. The counteract level is 9, and the counteract modifier is [[/r 1d20+27 #Counteract]]{+27}. If you fail (but don't critically fail) the counteract check against a devil or a werecreature, you get a success instead. If you counteracted the Change Shape ability, the creature can't use that ability again for 1 round, or 1 minute on a critical success. If you hit a devil or werecreature not under a polymorph effect, the target is @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} for 1 minute instead.</p>
------ Description (es) ------
<p><strong>Munición</strong> ronda</p>
<p><strong>Activar</strong> <span class="pf2-icon">1</span> Interactuar</p>
<p>Estas balas están formadas por un metal precioso licuado de alto grado y encantadas para liberar el verdadero potencial de ese metal.</p>
<p>El disparo es una bala de plata de alto grado. La plata despertada brilla con luz lunar celestial alterada diseñada para debilitar y exponer a demonios y hombres-criatura. Si acierta, hace contrarrestar cualquier efecto de polimorfismo en el objetivo. El nivel de contrarrestar es 9, y el modificador de contrarrestar es [[/r 1d20+27 #Contrarrestar]]{+27}. Si fallas (pero no fallas críticamente) el chequeo de contrarrestar contra un demonio o un hombre-criatura, obtienes un éxito en su lugar. Si contrarrestaste la habilidad de Cambiar de Forma, la criatura no puede volver a usar esa habilidad durante 1 asalto, o 1 minuto en caso de éxito crítico. Si golpeas a un demonio o hombre-criatura que no esté bajo un efecto de polimorfismo, el objetivo queda @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{{Enfeebled 1}## durante 1 minuto en su lugar.</p> <p>
