Name: Staff of Fire (Major)
Nombre: Bastón de fuego (superior).
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>This staff resembles a blackened and burned length of ashen wood. It smells faintly of soot and glows as if lit by embers. You can use an Interact action to touch the tip of this staff to a torch, tinder, or a flammable substance to ignite a flame.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<hr />
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<ul>
<li><strong>Cantrip</strong> <em>@UUID[Compendium.pf2e.spells-srd.O9w7r4BKgPogYDDe]{Produce Flame}</em></li>
<li><strong>1st</strong> <em>@UUID[Compendium.pf2e.spells-srd.y6rAdMK6EFlV6U0t]{Burning Hands}</em></li>
<li><strong>2nd</strong> <em>@UUID[Compendium.pf2e.spells-srd.y6rAdMK6EFlV6U0t]{Burning Hands}</em> <em>@UUID[Compendium.pf2e.spells-srd.2ZdHjnpEQJuqOYSG]{Flaming Sphere}</em></li>
<li><strong>3rd</strong> <em>@UUID[Compendium.pf2e.spells-srd.2ZdHjnpEQJuqOYSG]{Flaming Sphere}</em> <em>@UUID[Compendium.pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Fireball}</em></li>
<li><strong>4th</strong> <em>@UUID[Compendium.pf2e.spells-srd.YrzBLPLd3r9m6t1p]{Fire Shield}</em>, <em>@UUID[Compendium.pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Fireball}</em> <em>@UUID[Compendium.pf2e.spells-srd.IarZrgCeaiUqOuRu]{Wall of Fire}</em></li>
<li><strong>5th</strong> <em>@UUID[Compendium.pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Fireball}</em> <em>@UUID[Compendium.pf2e.spells-srd.IarZrgCeaiUqOuRu]{Wall of Fire}</em></li>
</ul>
------ Description (es) ------
<p>Este bastón se asemeja a una longitud ennegrecida y quemada de madera cenicienta. Huele ligeramente a hollín y brilla como si estuviera iluminado por brasas. Puedes usar una acción de Interactuar para tocar con la punta de este bastón una antorcha, yesca o una sustancia inflamable para encender una llama.</p> <p>Este bastón parece un trozo de madera cenicienta ennegrecida, huele ligeramente a hollín y brilla como si estuviera prendido por brasas.
<p><strong>Activar</strong> Lanzar un hechizo</p>
<hr />
<p><strong>Efecto</strong> Gastas un número de cargas del bastón para lanzar un hechizo de su lista.</p> <p><strong>Activar</strong>.
<p><strong>Requisitos de Artesanía</strong> Suministra un lanzamiento de todos los niveles de la lista de todos los hechizos de la lista.</p> <p>
<ul>
<li><strong>Truco</strong> <em>@UUID[Compendium.pf2e.spells-srd.O9w7r4BKgPogYDDe]{Producir Llama}</em></li>
<li><strong>1ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.y6rAdMK6EFlV6U0t]{Manos ardientes}</em></li>
<li><strong>2ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.y6rAdMK6EFlV6U0t]{Manos ardientes}</em> <em>@UUID[Compendium.pf2e.spells-srd.2ZdHjnpEQJuqOYSG]{Esfera flamígera}</em></li> <em></li> <em><strong>Segunda</strong>.
<li><strong>3ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.2ZdHjnpEQJuqOYSG]{Esfera flamante}</em> <em>@UUID[Compendium.pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Bola de fuego}</em></li>
<li><strong>4ª</strong><em>@UUID[Compendium.pf2e.spells-srd.YrzBLPLd3r9m6t1p]{Escudo de fuego}</em>, <em>@UUID[Compendium.pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Fireball}</em> <em>@UUID[Compendium.pf2e.spells-srd.IarZrgCeaiUqOuRu]{Muro de fuego}</em></li>
¡<li><strong>5º</strong> <em>@UUID[Compendium.pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Bola de fuego}</em> <em>@UUID[Compendium.pf2e.spells-srd.IarZrgCeaiUqOuRu]{{Muro de fuego}</em></li> <li><strong>Bola de fuego!
</ul>
