Name: Staff of Healing (Major)
Nombre: Bastón de curación (superior).
Estado: auto-trad

------ Description (en) ------
<p>Made of smooth, white wood, this staff is capped at each end with a golden cross adorned with a multitude of ruby cabochons. A staff of healing grants an item bonus to the Hit Points you restore anytime you cast the heal spell using your own spell slots or using charges from the staff.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<hr />
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<p>The item bonus granted to <em>heal</em> spells is +3.</p>
<ul>
<li><strong>Cantrip</strong> <em>@UUID[Compendium.pf2e.spells-srd.SnjhtQYexDtNDdEg]{Stabilize}</em></li>
<li><strong>1st</strong> <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em></li>
<li><strong>2nd</strong> <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em> <em>@UUID[Compendium.pf2e.spells-srd.SnaLVgxZ9ryUFmUr]{Restoration}</em> <em>@UUID[Compendium.pf2e.spells-srd.Et8RSCLx8w7uOLvo]{Restore Senses}</em></li>
<li><strong>3rd</strong> <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em> <em>@UUID[Compendium.pf2e.spells-srd.RneiyehRO6f7LP44]{Remove Disease}</em></li>
<li><strong>4th</strong> <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em> <em>@UUID[Compendium.pf2e.spells-srd.SnaLVgxZ9ryUFmUr]{Restoration}</em></li>
<li><strong>5th</strong> <em>@UUID[Compendium.pf2e.spells-srd.Hnc7eGi7vyZenAIm]{Breath of Life}</em>, <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em>, <em>@UUID[Compendium.pf2e.spells-srd.RneiyehRO6f7LP44]{Remove Disease}</em></li>
</ul>
------ Description (es) ------
<p>Hecho de madera lisa y blanca, este báculo está rematado en cada extremo con una cruz dorada adornada con multitud de cabujones de rubí. Un Bastón de curación otorga una bonificación de objeto a los puntos de golpe que restaures cada vez que lances el hechizo de curación usando tus propias ranuras de hechizo o usando cargas del bastón.
<p><strong>Activar</strong> Lanzar un hechizo</p>
<hr />
<p><strong>Efecto</strong> Gastas un número de cargas del báculo para lanzar un hechizo de su lista.</p> <p
<p><strong>Requisitos de Artesanía</strong> Suministrar un lanzamiento de todos los niveles de la lista de todos los hechizos de la lista.</p> <p><strong>Requisitos de Artesanía</strong>
<p>El bonificador de objeto concedido a los hechizos <em>curar</em> es +3.</p>
<ul>
<li><strong>Truco</strong> <em>@UUID[Compendium.pf2e.spells-srd.SnjhtQYexDtNDdEg]{Estabilizar}</em></li> <li><strong>Truco</strong>.
<li><strong>1ª</strong> <em>##656a4993d5e9bde46770905b30558b###{Heal}###</em></li>
<li><strong>2ª</strong> <em>##656a4993d5e9bde46770905b30558b###{Heal}###</em> <em>@UUID[Compendium.pf2e.spells-srd.SnaLVgxZ9ryUFmUr]{Restauración}#</em> <em>@UUID[Compendium.pf2e.spells-srd.Et8RSCLx8w7uOLvo]{Restablecer los sentidos}</em></li>
<li><strong>3ª</strong> <em>##656a4993d5e9bde46770905b30558b###{Heal}###</em> <em>@UUID[Compendium.pf2e.spells-srd.RneiyehRO6f7LP44]{Quitar Enfermedad}</em></li>
<li><strong>4ª</strong> <em>###656a4993d5e9bde46770905b30558b###{Curar}###</em> <em>@UUID[Compendium.pf2e.spells-srd.SnaLVgxZ9ryUFmUr]{{Restauración}</em></li> <em></li> <strong>Curar la enfermedad</strong> </strong></strong>.
<li><strong>5ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.Hnc7eGi7vyZenAIm]{Aliento de vida}</em>, <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em>, <em>@UUID[Compendium.pf2e.spells-srd.RneiyehRO6f7LP44]{Quitar Enfermedad}</em></li>
</ul>
