Parent Name: Deep End Sarglagon
Name: Sarglagon Venom
Nombre: Sarglagon Venom
Estado: auto-trad

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:26]</p>
<hr />
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong>[[/r 2d6[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 2</strong>[[/r 3d6[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} (1 round)</p>
------ Description (es) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:26]</p>
<hr />
<p><strong>Duración máxima</strong> 6 asaltos</p>
<p><strong>Etapa 1</strong>[[/r 2d6[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe 1}# (1 asalto)</p> <p><strong>Etapa 2</strong> (1 asalto)
<p><strong>Etapa 2</strong>[[/r 3d6[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Torpe 2}# (1 asalto)</p>
