Name: Grippli Weapon Expertise
Nombre: Experiencia con las armas de los grippli
PrereqEN: 
PrereqES: 
Estado: auto-trad

------ Description (en) ------
<p>You fight with effortless expertise with grippli weapons. Whenever you gain a class feature that grants you expert or greater proficiency in a given weapon or weapons, you also gain that proficiency in the @UUID[Compendium.pf2e.equipment-srd.FPwsiGqMCNPLHmjX]{Blowgun}, @UUID[Compendium.pf2e.equipment-srd.LGgvev6AV0So8tP9]{Hatchet}, @UUID[Compendium.pf2e.equipment-srd.H74vYwHJ8XT4qOPI]{Scythe}, @UUID[Compendium.pf2e.equipment-srd.hIgqLgH3YcLZBeoT]{Shortbow}, and @UUID[Compendium.pf2e.equipment-srd.e4NwsnPnpQKbDZ9F]{Composite Shortbow}, or grippli weapons in which you are trained.</p>
------ Description (es) ------
<p>Luchas con Experiencia con las armas de los grippli sin esfuerzo. Siempre que obtengas un rasgo de clase que te otorgue pericia experta o mayor en un arma o armas determinadas, también obtienes esa pericia en la @UUID[Compendium.pf2e.equipment-srd.FPwsiGqMCNPLHmjX]{Blowgun}, @UUID[Compendium.pf2e.equipment-srd.LGgvev6AV0So8tP9]{Hatchet}, @UUID[Compendium.pf2e.equipment-srd.H74vYwHJ8XT4qOPI]{Scythe}, @UUID[Compendium.pf2e.equipment-srd.hIgqLgH3YcLZBeoT]{Shortbow}, y @UUID[Compendium.pf2e.equipment-srd.e4NwsnPnpQKbDZ9F]{{Composite Shortbow}, o armas de empuñadura en las que esté entrenado.</p>
