Name: Sacred Spells
Nombre: Hechizos Sagrados
PrereqEN: Hallowed Necromancer Dedication
PrereqES: Hallowed Necromancer Dedication
Estado: auto-trad

------ Description (en) ------
<p>Add <em>@UUID[Compendium.pf2e.spells-srd.mAMEt4FFbdqoRnkN]{Chill Touch}</em>, <em>@UUID[Compendium.pf2e.spells-srd.YvXKGlHOt7mdW2jZ]{Death Ward}</em>, <em>@UUID[Compendium.pf2e.spells-srd.kcelf6IHl3L9VXXg]{Disrupt Undead}</em>, <em>@UUID[Compendium.pf2e.spells-srd.2iQKhCQBijhj5Rf3]{Disrupting Weapons}</em>, <em>@UUID[Compendium.pf2e.spells-srd.DZ9bzXYqMjAK9TzC]{Holy Cascade}</em>, <em>@UUID[Compendium.pf2e.spells-srd.9u6X9ykhzG11NK1n]{Magic Stone}</em>, and <em>@UUID[Compendium.pf2e.spells-srd.a3aQxCpoj1q1NQxC]{Sunburst}</em> to your spell list. These are all necromancy spells for you, even if they normally have a different spell school. You can either prepare these spells or add them to your repertoire just like the spells normally on your tradition's spell list. When you gain this feat, you can retrain existing spells to replace them with ones on this list.</p>
<p>In addition, your knowledge of the conduits to the Positive Energy Plane allows you more flexibility with these spells. Choose one of these two benefits.</p>
<ul>
<li>If you're a prepared spellcaster, you can spend 10 minutes to replace one of the spells you've prepared with a spell of the same level from the list of sacred spells. You can do this while Refocusing.</li>
<li>If you're a spontaneous spellcaster with the signature spells class feature, add two of the spells from the list of sacred spells to your repertoire. They are signature spells for you, in addition to your normal signature spells. When you gain the ability to cast a new level of spells, you can choose to switch the spells from this feat to any other spells from the list.</li>
</ul>
------ Description (es) ------
<p>Añadir <em>@UUID[Compendium.pf2e.spells-srd.mAMEt4FFbdqoRnkN]{Toque gélido}</em>, <em>@UUID[Compendium.pf2e.spells-srd.YvXKGlHOt7mdW2jZ]{Custodia contra la muerte}</em>, <em>@UUID[Compendium.pf2e.spells-srd.kcelf6IHl3L9VXXg]{Disrupt Undead}</em>, <em>@UUID[Compendium.pf2e.spells-srd.2iQKhCQBijhj5Rf3]{{Armas Disruptoras}</em>, <em>@UUID[Compendium.pf2e.spells-srd.DZ9bzXYqMjAK9TzC]{Cascada Sagrada}</em>, <em>##945d0b7d561f85fe2823d5770c7d80f###{Piedra mágica}###</em>, y <em>@UUID[Compendium.pf2e.spells-srd.a3aQxCpoj1q1NQxC]{Explosión solar}</em> a tu lista de hechizos. Todos estos son hechizos de nigromancia para ti, incluso si normalmente tienen una escuela de hechizos diferente. Puedes preparar estos conjuros o añadirlos a tu repertorio igual que los conjuros que normalmente están en la lista de conjuros de tu tradición. Cuando obtengas esta proeza, puedes volver a entrenar conjuros existentes para reemplazarlos por los de esta lista.</p> <p>
<p>Además, tu conocimiento de los conductos al Plano de la Energía Positiva te permite más flexibilidad con estos conjuros. Elige uno de estos dos beneficios.</p> <p>
<ul>
<li>Si eres un hechicero preparado, puedes gastar 10 minutos para reemplazar uno de los hechizos que has preparado por un hechizo del mismo nivel de la lista de hechizos sagrados. Puedes hacerlo mientras Reenfocas.</li>
<li>Si eres un lanzador de conjuros espontáneo con la característica de clase conjuros de signatura, añade dos de los conjuros de la lista de conjuros sagrados a tu repertorio. Son conjuros de signatura para ti, además de tus conjuros de signatura normales. Cuando obtengas la aptitud de lanzar un nuevo nivel de conjuros, puedes elegir cambiar los conjuros de esta proeza por cualquier otro conjuro de la lista.</li> <li>Los conjuros sagrados se añaden a tu repertorio.
</ul>
