Parent Name: Skitterstitch
Name: Skitterstitch Venom
Nombre: Veneno Skitterstitch
Estado: auto-trad

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:23|traits:poison]</p>
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r 1d10[poison]]] damage, @UUID[Compendium.pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed}, and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r 1d10[poison]]] damage, flat-footed, and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} (1 round)</p>
------ Description (es) ------
<p><strong>Lanzamiento salvador</strong> @Check[type:fortitude|dc:23|traits:poison]</p>
<p><strong>Duración máxima</strong> 6 asaltos</p>
<p><strong>Etapa 1</strong> [[/r 1d10[veneno]]] de daño, @UUID[Compendium.pf2e.conditionitems.AJh5ex99aV6VTggg]{Pies planos}, y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe 1}# (1 asalto)</p> <p><strong>Etapa 1</strong> (1 asalto)</p> <p><strong>Etapa 1</strong> (1 asalto)</strong> (1 asalto)
<p><strong>Etapa 2</strong> [[/r 1d10[veneno]]] de daño, pies planos y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Torpe 2}# (1 asalto)</p>
