Name: Effect: Anklets of Alacrity
Nombre: Efecto: Tobilleras de celeridad
Estado: auto-trad

------ Description (en) ------
<p>Granted by activating @UUID[Compendium.pf2e.equipment-srd.9IwSktj0Xj7A2Ruh]{Anklets of Alacrity}.</p>
------ Description (es) ------
<p>Otorgado al activar @UUID[Compendium.pf2e.equipment-srd.9IwSktj0Xj7A2Ruh]{{Tobilleras de celeridad}.</p>
